header {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    margin: 0;
}

.header__nav ul li {
    display: inline-block;
    margin-right: 15px;
}

.header__nav ul li a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: royalblue;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
