.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-image: linear-gradient(to top, #5A98F2, #67C3F3);
    height: auto;
    padding: 1.5rem;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.footer-nav {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1350px;
}

.footer-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.footer-nav li a {
    width: 100%;
    align-items: center;
}

.footer-link {
    color: white;
    margin-right: 5rem;
    margin-left: 9rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 3.75rem;

}

.footer-logo {
    margin-left: 10rem;
    margin-right: 15rem;
    max-width: 150px;
}

.footer-dots--top {
    display: flex;
    position: absolute;
    justify-content: end;
    bottom: -260px;
    width: 95%;
}

.footer-dots--top img {
    position: relative;
    top: 16px;
    z-index: 2;
    opacity: 100%;
    width: 7%
}

.footer-dots--bottom {
    display: flex;
    width: 100%;
    position: relative;
}

.footer-dots--bottom img {
    position: absolute;
    top: 75px;
    left: -20px;
    z-index: 1;
    opacity: 100%;
    width: 7%;
}