body{
    margin: 0;
    min-width: 320px;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}