.about-perfumes__card {
    border-radius: 2rem;
    border: 3px solid #212121;
    width: 15vw;
    padding: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    background: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3px);
}

.about-perfumes__card__icon {
    font-size: 3rem;
    color: #212121;
    margin: 0;
    width: auto;
    align-self: center;
}

.about-perfumes__card__title {
    font-size: 2rem;
    margin: 0;
    line-height: 1;
    font-family: 'Modern No. 20', sans-serif;
}

.about-perfumes__card__text {
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.2;
}